<main>
    <div class="search-card-center">
        <h1>Welcome!</h1>
        <p>happy register event</p>
        <label for="searchByEventName">
            <form id="searchEvent" method="POST" action="/events/searchEventByName">
                <input id="searchByEventName" type="text" name="searchByEventName" placeholder="Search by name" />
                <input class="search" type="submit" value="Search" />
            </form>
        </label>

        <label for="searchByDate">
            <form id="searchDate" method="POST" action="/events/searchByDate">
                <input id="searchByDate" type="text" name="searchByDate" placeholder="Search by date" />

                <input type="submit" value="Search">mm/dd/yyyy</input>
            </form>
        </label>

        <p><a href="/events/sports">Sports</a></p>
        <p><a href="/events/art">Art</a></p>
        <p><a href="/events/concert">Concert</a></p>

    </div>
</main>